<div class="modal-background"></div>
<div class="modal-content">
	<div class="box">
		<div class="publish-price">
			<label class="purchase-title-label label is-medium">Purchase This Article</label>
			<label class="purchase-subtitle-label label is-light">Decide how much people will pay for your article.</label>
			<form action="/charge" method="post" id="payment-form">
				<div class="form-row">
			    	<label for="card-element">Credit or debit card</label>
			    	<div id="card-element" class="form-button"></div>
			    	<div id="card-errors" class="form-button" role="alert"></div>
			  	</div>
			</form>
			<div class="buttons">
				<button class="button purchase-button is-link form-button">Purchase</button>
				<button class="button is-link is-outlined form-button" onclick="hidePurchaseModal()">Cancel</button>
			</div>
		</div>
	</div>
</div>