.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 2px solid #dbdbdb;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  border: 2px solid #9984D4;
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #FA7C91;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.is-light {
  font-weight: 200;
}

p.is-light a {
  color: inherit;
}